
// strip css
.home-parent {
    background-color: #e0e0e0;
    min-height: 100vh;

  .home-page-main-container {
    .userStrip {

      background: linear-gradient(90deg, #1e1e1e, #2c2c2c);
      color: white;
      padding: 18px 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      margin: 35px 20px;
      font-family: monospace;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    }
  }
}

.home-page-main-container{
   
}




